<!DOCTYPE html>
<html>
        <head>
		<meta charset="utf-8" />
		<title>New Complted Payment</title>
	</head>

	<body>
        
                <img src="https://res.cloudinary.com/see-event/image/upload/v1638435431/c4qaz6prwl1zqg4un7ba.png" style="width: 80%; max-width: 80px" />

                <h4 style="color: black;">Hi {{userName}},</h4>
                
                <p style="color: black;">A buyer has made payment for the recipe you are selling, please prepare the recipe and ingredients that have been ordered as soon as possible.
                    For the detail order, please login into your app. If you have questions regarding orders, please contact ChefBox customer service at 081999111222.
                    Thank you for your cooperation</p>
                
                <p style="color: black;">Best Regards</p>
                <h3 style="color: black;">ChefBox Team</h3>

	</body>
</html>